In [3]:
import pandas as pd

In [6]:
#Load data with movie titles and their genres from the IMDB open dataset
genres_titles = pd.read_csv('title.basics.tsv', sep='\t')
genres_titles.head(5)

FileNotFoundError: File b'title.basics.tsv' does not exist

In [14]:
#Inspect the Genres Column 
genres_single = genres_titles[['genres']].loc[0:15]
genres_single

                      genres
0          Documentary,Short
1            Animation,Short
2   Animation,Comedy,Romance
3            Animation,Short
4                      Short
5                      Short
6                Short,Sport
7          Documentary,Short
8                    Romance
9          Documentary,Short
10         Documentary,Short
11         Documentary,Short
12         Documentary,Short
13              Comedy,Short
14           Animation,Short
15         Documentary,Short

In [15]:
#To facilitate analysis on individual genres, I wanted to split this column to have one genre per title
ind_genres = genres_single['genres'].str.split(',').apply(pd.Series)
ind_genres

              0       1        2
0   Documentary   Short      NaN
1     Animation   Short      NaN
2     Animation  Comedy  Romance
3     Animation   Short      NaN
4         Short     NaN      NaN
5         Short     NaN      NaN
6         Short   Sport      NaN
7   Documentary   Short      NaN
8       Romance     NaN      NaN
9   Documentary   Short      NaN
10  Documentary   Short      NaN
11  Documentary   Short      NaN
12  Documentary   Short      NaN
13       Comedy   Short      NaN
14    Animation   Short      NaN
15  Documentary   Short      NaN

In [50]:
#To get all of the genres into 
genres_fin = ind_genres.stack(-1)
genres_fin.index = genres_fin.index.droplevel(-1)
genres_final = genres_fin.to_frame()

In [1]:
genres_final.head(10)

NameError: name 'genres_final' is not defined